.nav-link {
  background-color: var(--color-primary);
  flex-grow: 1;
  flex-direction: column;
  min-width: 300px;
  z-index: 2;
  width: 63%;
  position: absolute;
  height: 100%;

  a {
    color: var(--color-nav-link);
    text-decoration: none;
    letter-spacing: 1.2px;

    &:hover {
      color: var(--color-nav-link-hover);
    }

    &.active {
      color: var(--color-nav-link-active);
      text-decoration: underline;
    }
  }
}

.link {
  height: 3rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  &:hover:not(.active) {
    background-color: var(--color-secondary-dark);
  }

  span {
    margin-left: 1.5rem;
  }
}

.visible {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.hidden {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
