.location {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    min-height: 70vh;
  }
}

.content {
  margin-top: 2rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  margin-bottom: 1rem;
  svg {
    margin-right: 1rem;
  }
}

.place {
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 5rem !important;
  margin-bottom: 1.5rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 8rem;
}

.name {
  margin-top: 1rem;
  letter-spacing: 5px;
}

.map {
  display: flex;
  justify-content: center;
}
