@import "styles/variables/colors";

.button {
  padding: 1rem;
  border: 2px solid var(--color-border);
  border-radius: 3px;
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary);
  font-family: var(--font-secondary);
  letter-spacing: 2px;

  &:hover {
    border-color: var(--btn-primary-hover);
    background-color: var(--btn-primary-hover);
  }

  &:active {
    background-color: var(--btn-primary-active);
  }
}
