.layout {
  height: 100%;
  position: relative;
}

.content {
  padding: 0;

  @media screen and (min-width: "769px") {
    padding: 2rem 5rem;
  }

  @media screen and (min-width: "850px") {
    padding: 2rem 10rem;
  }
}
