@import "styles/variables/colors";

.footer {
  grid-area: footer;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  margin-top: auto;
  padding: 4rem;
  position: absolute;
  width: 100%;

  a:hover {
    color: var(--color-accent-light);
  }
}

.back-to-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  font-size: 3rem !important;
}
