.story {
  margin: 3rem;
  display: flex;
  flex-direction: column;
}

.header {
  h3 {
    margin-bottom: 0;
    letter-spacing: 8px;
  }

  span {
    letter-spacing: 2px;
  }
}

.icon {
  font-size: 5rem !important;
  margin-bottom: 1.5rem;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 8rem;
}

.name {
  margin-top: 1rem;
  letter-spacing: 5px;
  text-align: center;
}
